# Работа с демонстрационной БД  «Авиаперевозки» в PostGre

Вам предоставляется демонстрационная БД, развернутая в СУБД PostGre. 
Режим доступа - только на чтение.

In [68]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [69]:
POSTGRESQL_HOST = '10.129.0.25'

In [70]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

Создание подключения к БД

In [115]:
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

Получение параметров подключения (в будущем вам это пригодится)

In [5]:
conn.get_dsn_parameters()

{'user': 'reader',
 'channel_binding': 'prefer',
 'dbname': 'demo',
 'host': '10.129.0.25',
 'port': '5432',
 'options': '',
 'sslmode': 'prefer',
 'sslcompression': '0',
 'sslcertmode': 'allow',
 'sslsni': '1',
 'ssl_min_protocol_version': 'TLSv1.2',
 'gssencmode': 'prefer',
 'krbsrvname': 'postgres',
 'gssdelegation': '0',
 'target_session_attrs': 'any',
 'load_balance_hosts': 'disable'}

Подготовка SQL запроса на вывод первых 5 записей из таблицы seats

In [72]:
query = 'SELECT * FROM seats LIMIT 5'

In [73]:
cur.execute(query)
records = cur.fetchall()
cur.close()
conn.close()

In [74]:
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

Через конструкцию  with as реализуем соединение с БД и выполним SQL запрос

In [75]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM seats LIMIT 10')
        records = cur.fetchall()

In [76]:
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business'),
 ('319', '3C', 'Business'),
 ('319', '3D', 'Business'),
 ('319', '3F', 'Business'),
 ('319', '4A', 'Business'),
 ('319', '4C', 'Business')]

Подготовим словарь с тремя запросам  на получение информации о БД

In [77]:
queries = {
    '___DATABASES___': 'SELECT * FROM pg_database',
    '___TABLES___': "SELECT relname FROM pg_class WHERE relkind='r' AND relname !~ '^(pg_|sql_)';",
    '\n___COLUMNS___': "SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'seats';"
}

In [78]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    for name, query in queries.items():
        print('\n', name)
        with conn.cursor() as cur:
            cur.execute(query)
            for row in cur.fetchall():
                print(row)

 ___DATABASES___
(13760, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, None)
(1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
(13759, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
(16384, 'demo', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, '{=Tc/postgres,postgres=CTc/postgres,reader=c/postgres}')

 ___TABLES___
('boarding_passes',)
('aircrafts_data',)
('flights',)
('airports_data',)
('seats',)
('tickets',)
('ticket_flights',)
('bookings',)
('employees',)
('departments',)
('department',)
('employee',)


___COLUMNS___
('aircraft_code',)
('seat_no',)
('fare_conditions',)

In [105]:
tables_db = []
query = "SELECT relname FROM pg_class WHERE relkind='r' AND relname !~ '^(pg_|sql_)';"
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute(query)
        for row in cur.fetchall():
            tables_db.append(row[0])

In [106]:
print(tables_db)

['boarding_passes', 'aircrafts_data', 'flights', 'airports_data', 'seats', 'tickets', 'ticket_flights', 'bookings', 'employees', 'departments', 'department', 'employee']

## Задание 1:
Для каждой таблицы БД выведите ее структуру (название колонок). 

В текстовой ячейке представьте описание каждой таблицы - ее назначение и структуру.

Пример использования магической команды sql

In [101]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [102]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

In [108]:
for table in tables_db:
    print(table)
    query = f"SELECT column_name, udt_name FROM information_schema.columns WHERE table_name = '{table}'"
    with conn.cursor() as cur:
        cur.execute(query)
        for row in cur.fetchall():
            print(row)
    print()

boarding_passes
('flight_id', 'int4')
('boarding_no', 'int4')
('ticket_no', 'bpchar')
('seat_no', 'varchar')

aircrafts_data
('model', 'jsonb')
('range', 'int4')
('aircraft_code', 'bpchar')

flights
('flight_id', 'int4')
('scheduled_departure', 'timestamptz')
('scheduled_arrival', 'timestamptz')
('actual_departure', 'timestamptz')
('actual_arrival', 'timestamptz')
('arrival_airport', 'bpchar')
('flight_no', 'bpchar')
('status', 'varchar')
('aircraft_code', 'bpchar')
('departure_airport', 'bpchar')

airports_data
('airport_name', 'jsonb')
('city', 'jsonb')
('coordinates', 'point')
('airport_code', 'bpchar')
('timezone', 'text')

seats
('aircraft_code', 'bpchar')
('seat_no', 'varchar')
('fare_conditions', 'varchar')

tickets
('contact_data', 'jsonb')
('ticket_no', 'bpchar')
('book_ref', 'bpchar')
('passenger_id', 'varchar')
('passenger_name', 'text')

ticket_flights
('flight_id', 'int4')
('amount', 'numeric')
('ticket_no', 'bpchar')
('fare_conditions', 'varchar')

bookings
('book_date', 'timestamptz')
('total_amount', 'numeric')
('book_ref', 'bpchar')

employees
('hire_date', 'date')
('employee_id', 'int4')
('manager_id', 'int4')
('department_id', 'int4')
('first_name', 'varchar')
('last_name', 'varchar')
('job_id', 'varchar')

departments
('department_id', 'int4')
('manager_id', 'int4')
('department_name', 'varchar')

department
('department_id', 'int4')
('manager_id', 'int4')
('department_name', 'varchar')

employee
('hire_date', 'date')
('employee_id', 'int4')
('manager_id', 'int4')
('department_id', 'int4')
('first_name', 'varchar')
('last_name', 'varchar')
('job_id', 'varchar')

Получим информацию по типу каждого столбца таблицы boarding_passes

In [84]:
%%sql $CONNECT_DATA
SELECT column_name, udt_name 
FROM information_schema.columns 
WHERE table_name = 'boarding_passes'

4 rows affected.

[('flight_id', 'int4'),
 ('boarding_no', 'int4'),
 ('ticket_no', 'bpchar'),
 ('seat_no', 'varchar')]

## Задание 2:
Для каждой таблицы выведите информацию о типах ее столбцов (полей) и количестве записей.

Создайте словарь с названием таблиц и количеством записей в них.

Найти и вывести название таблицы с максимальным количеством записей, количество записей также вывести.

In [85]:
def cursor (query, conn):
    with conn.cursor() as cur:
        cur.execute(query)
        return cur.fetchall()

In [86]:
table_dict = {}
for table in tables_db:
    print('Name of table: ', table)
    query_udt = f"SELECT column_name, udt_name FROM information_schema.columns WHERE table_name = '{table}'"
    query_count = f'SELECT COUNT(*) FROM {table}'
    count = cursor(query_count, conn)
    udt = cursor(query_udt, conn)
    print('Count: ', count[0][0], '\n')
    table_dict[table] = count[0][0]
    for cow in udt:
        print(cow[0], cow[1])
    print('\n', '\n')
        # print(udt)

Name of table:  boarding_passes
Count:  7925812

flight_id int4
boarding_no int4
ticket_no bpchar
seat_no varchar



Name of table:  aircrafts_data
Count:  9

model jsonb
range int4
aircraft_code bpchar



Name of table:  flights
Count:  214867

flight_id int4
scheduled_departure timestamptz
scheduled_arrival timestamptz
actual_departure timestamptz
actual_arrival timestamptz
arrival_airport bpchar
flight_no bpchar
status varchar
aircraft_code bpchar
departure_airport bpchar



Name of table:  airports_data
Count:  104

airport_name jsonb
city jsonb
coordinates point
airport_code bpchar
timezone text



Name of table:  seats
Count:  1339

aircraft_code bpchar
seat_no varchar
fare_conditions varchar



Name of table:  tickets
Count:  2949857

contact_data jsonb
ticket_no bpchar
book_ref bpchar
passenger_id varchar
passenger_name text



Name of table:  ticket_flights
Count:  8391852

flight_id int4
amount numeric
ticket_no bpchar
fare_conditions varchar



Name of table:  bookings
Count:  2111110

book_date timestamptz
total_amount numeric
book_ref bpchar



Name of table:  employees
Count:  12

hire_date date
employee_id int4
manager_id int4
department_id int4
first_name varchar
last_name varchar
job_id varchar



Name of table:  departments
Count:  10

department_id int4
manager_id int4
department_name varchar



Name of table:  department
Count:  10

department_id int4
manager_id int4
department_name varchar



Name of table:  employee
Count:  12

hire_date date
employee_id int4
manager_id int4
department_id int4
first_name varchar
last_name varchar
job_id varchar

In [91]:
max_table = max(table_dict, key=table_dict.get)
print("Table with max count: ", max_table, '\nCount: ', table_dict[max_table])

Table with max count:  ticket_flights
Count:  8391852

## Задание 3:

Вывести названия тарифов, которые предлагают авиаперевозчики пассажирам.

In [92]:
query = 'SELECT DISTINCT fare_conditions FROM ticket_flights'
cursor (query, conn)

[('Business',), ('Comfort',), ('Economy',)]

## Задание 4:

По каждому тарифу найти общую сумму выручки за продажу билетов.

In [109]:
query = 'SELECT fare_conditions, SUM(amount) As total_amount FROM ticket_flights GROUP BY fare_conditions'
cursor(query, conn)

[('Business', Decimal('44321628100.00')),
 ('Comfort', Decimal('4580291100.00')),
 ('Economy', Decimal('118507139900.00'))]

## Задание 5:

Какой тариф приносит максимальный доход? (написать SQL запрос)

In [120]:
query = 'SELECT fare_conditions, SUM(amount) As total_amount FROM ticket_flights GROUP BY fare_conditions ORDER BY total_amount DESC LIMIT 1;'
cursor(query, conn)

[('Economy', Decimal('118507139900.00'))]

# Время выполнения запросов. 

Разные запросы требуют разное время на выполнение. Часто нужно оптимизировать запрос, либо находить и использовать другой инструмент для анализа данных.

Приведем пример подчета времени выполнения запроса.

In [26]:
%time 
result =  %sql SELECT * from departments;

CPU times: user 1 μs, sys: 1 μs, total: 2 μs
Wall time: 5.48 μs
 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

In [27]:
result

[(10, 'Administration', 200),
 (30, 'Purchasing', 114),
 (40, 'HumanResources', 203),
 (50, 'Shipping', 121),
 (60, 'IT', 103),
 (70, 'PublicRelations', 204),
 (80, 'Sales', 145),
 (90, 'Executive', 100),
 (100, 'Finance', 108),
 (110, 'Accounting', 205)]

## Задание 5:
Реализуйте 2 способами поиск модели самолета, у которого среди всех моделей минимальное значение максимальной дальности полета.

Выведите время выполнения первого запроса и второго запроса, оцените какой запрос быстрее выполняется, объясните - почему?

In [49]:
query = 'SELECT model, SUM(amount) As max_range FROM ticket_flights GROUP BY fare_conditions ORDER BY total_amount DESC LIMIT 1;'

In [50]:
cursor(query, conn)

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [29]:
%%time  
result = %sql SELECT model, MAX(range) As max_range FROM aircrafts_data GROUP BY model ORDER BY max_range LIMIT 1;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.
CPU times: user 1.99 ms, sys: 0 ns, total: 1.99 ms
Wall time: 2.88 ms

In [30]:
result

[({'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208 Караван'}, 1200)]

In [31]:
%%time
result = %sql SELECT model, range FROM aircrafts_data WHERE range = (SELECT MIN(range) FROM aircrafts_data);

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.
CPU times: user 1.51 ms, sys: 380 μs, total: 1.89 ms
Wall time: 2.16 ms

In [32]:
result

[({'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208 Караван'}, 1200)]

## Задание 6:

Выведите сколько всего рейсов в БД имеют максимальную длительность полета.

Какова максимальная длительность полета?

In [33]:
%%sql
WITH max_duration AS (
    SELECT MAX(AGE(scheduled_arrival, scheduled_departure)) AS max_duration
    FROM flights
)
SELECT 
    max_duration.max_duration,
    COUNT(*) AS flights_with_max_duration
FROM 
    flights, max_duration
WHERE 
    AGE(flights.scheduled_arrival, flights.scheduled_departure) = max_duration.max_duration
GROUP BY 
    max_duration.max_duration;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[(datetime.timedelta(seconds=31800), 1132)]

## Задание 7: 
Выведите уникальные маршруты рейсов (по аэропортам отправления и прибытия) с максимальной длительностью полета, включая следующие данные: 
- Код и название аэропорта отправления.
- Город отправления.
- Код и название аэропорта прибытия.
- Город прибытия.
- Длительность рейса (максимальная среди всех рейсов для данного маршрута).


Например:
| Duration   | Departure Airport Name         | Departure City  | Arrival Airport Name          | Arrival City          |
|------------|--------------------------------|-----------------|-------------------------------|-----------------------|
| 10:15:00   | John F. Kennedy Airport       | New York        | Los Angeles International     | Los Angeles          |
| 10:15:00    | Heathrow Airport              | London          | Dubai International Airport   | Dubai                |
| 10:15:00    | Tokyo Haneda Airport          | Tokyo           | Sydney Kingsford Smith        | Sydney               |
| 10:15:00    | Frankfurt Airport             | Frankfurt       | Changi Airport                | Singapore            |

In [59]:
%%sql
SELECT * 
FROM airports_data
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('YKS', {'en': 'Yakutsk Airport', 'ru': 'Якутск'}, {'en': 'Yakutsk', 'ru': 'Якутск'}, '(129.77099609375,62.093299865722656)', 'Asia/Yakutsk'),
 ('MJZ', {'en': 'Mirny Airport', 'ru': 'Мирный'}, {'en': 'Mirnyj', 'ru': 'Мирный'}, '(114.03900146484375,62.534698486328125)', 'Asia/Yakutsk'),
 ('KHV', {'en': 'Khabarovsk-Novy Airport', 'ru': 'Хабаровск-Новый'}, {'en': 'Khabarovsk', 'ru': 'Хабаровск'}, '(135.18800354004,48.52799987793)', 'Asia/Vladivostok'),
 ('PKC', {'en': 'Yelizovo Airport', 'ru': 'Елизово'}, {'en': 'Petropavlovsk', 'ru': 'Петропавловск-Камчатский'}, '(158.45399475097656,53.16790008544922)', 'Asia/Kamchatka'),
 ('UUS', {'en': 'Yuzhno-Sakhalinsk Airport', 'ru': 'Хомутово'}, {'en': 'Yuzhno-Sakhalinsk', 'ru': 'Южно-Сахалинск'}, '(142.71800231933594,46.88869857788086)', 'Asia/Sakhalin'),
 ('VVO', {'en': 'Vladivostok International Airport', 'ru': 'Владивосток'}, {'en': 'Vladivostok', 'ru': 'Владивосток'}, '(132.1479949951172,43.39899826049805)', 'Asia/Vladivostok'),
 ('LED', {'en': 'Pulkovo Airport', 'ru': 'Пулково'}, {'en': 'St. Petersburg', 'ru': 'Санкт-Петербург'}, '(30.262500762939453,59.80030059814453)', 'Europe/Moscow'),
 ('KGD', {'en': 'Khrabrovo Airport', 'ru': 'Храброво'}, {'en': 'Kaliningrad', 'ru': 'Калининград'}, '(20.592599868774414,54.88999938964844)', 'Europe/Kaliningrad'),
 ('KEJ', {'en': 'Kemerovo Airport', 'ru': 'Кемерово'}, {'en': 'Kemorovo', 'ru': 'Кемерово'}, '(86.1072006225586,55.27009963989258)', 'Asia/Novokuznetsk'),
 ('CEK', {'en': 'Chelyabinsk Balandino Airport', 'ru': 'Челябинск'}, {'en': 'Chelyabinsk', 'ru': 'Челябинск'}, '(61.5033,55.305801)', 'Asia/Yekaterinburg')]

In [58]:
%%sql
WITH flight_durations AS (
    SELECT
        departure_airport,
        arrival_airport,
        MAX(AGE(scheduled_arrival, scheduled_departure)) AS max_duration
    FROM flights
    GROUP BY departure_airport, arrival_airport
)
SELECT
    fd.max_duration,
    dep.airport_code AS departure_code,
    dep.airport_name->>'en' AS departure_name,
    dep.city->>'en' AS departure_city,   
    arr.airport_code AS arrival_code,
    arr.airport_name->>'en' AS arrival_name,
    arr.city->>'en' AS arrival_city 
FROM
    flight_durations fd
JOIN airports_data dep ON fd.departure_airport = dep.airport_code
JOIN airports_data arr ON fd.arrival_airport = arr.airport_code
ORDER BY fd.max_duration DESC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[(datetime.timedelta(seconds=31800), 'DME', 'Domodedovo International Airport', 'Moscow', 'UUS', 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk'),
 (datetime.timedelta(seconds=31800), 'PKC', 'Yelizovo Airport', 'Petropavlovsk', 'DME', 'Domodedovo International Airport', 'Moscow'),
 (datetime.timedelta(seconds=31800), 'UUS', 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk', 'DME', 'Domodedovo International Airport', 'Moscow'),
 (datetime.timedelta(seconds=31800), 'DME', 'Domodedovo International Airport', 'Moscow', 'PKC', 'Yelizovo Airport', 'Petropavlovsk'),
 (datetime.timedelta(seconds=31500), 'SVO', 'Sheremetyevo International Airport', 'Moscow', 'UUS', 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk'),
 (datetime.timedelta(seconds=31500), 'GDX', 'Sokol Airport', 'Magadan', 'MRV', 'Mineralnyye Vody Airport', 'Mineralnye Vody'),
 (datetime.timedelta(seconds=31500), 'UUS', 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk', 'SVO', 'Sheremetyevo International Airport', 'Moscow'),
 (datetime.timedelta(seconds=31500), 'MRV', 'Mineralnyye Vody Airport', 'Mineralnye Vody', 'GDX', 'Sokol Airport', 'Magadan'),
 (datetime.timedelta(seconds=30300), 'VKO', 'Vnukovo International Airport', 'Moscow', 'VVO', 'Vladivostok International Airport', 'Vladivostok'),
 (datetime.timedelta(seconds=30300), 'VVO', 'Vladivostok International Airport', 'Vladivostok', 'VKO', 'Vnukovo International Airport', 'Moscow')]

In [ ]:
почему 2 join

## Задание 8:
Определить, на какой аэропорт лежит максимальная нагрузка по обслуживанию отправлений и прибытий самолетов?

Вывести название аэропорта и город, где он находится.

In [35]:
%%sql
WITH airport_load AS (
    SELECT
        airport_code,
        SUM(departures) AS total_departures,
        SUM(arrivals) AS total_arrivals,
        SUM(departures + arrivals) AS total_load
    FROM (
        SELECT
            departure_airport AS airport_code,
            COUNT(*) AS departures,
            0 AS arrivals
        FROM flights
        GROUP BY departure_airport

        UNION ALL

        SELECT
            arrival_airport AS airport_code,
            0 AS departures,
            COUNT(*) AS arrivals
        FROM flights
        GROUP BY arrival_airport
    ) AS load_data
    GROUP BY airport_code
)
SELECT
    ad.airport_name->>'en' AS airport_name,
    ad.city->>'en' AS city, 
    al.total_load
FROM
    airport_load al
JOIN airports_data ad ON al.airport_code = ad.airport_code
ORDER BY al.total_load DESC
LIMIT 1;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[('Domodedovo International Airport', 'Moscow', Decimal('41753'))]

## Задание 9:

Вывести среднее количество мест в самолетах по кажому классу обслуживания. Требования к формату вывода - две цифры после запятой. 

Пример:

| fare_conditions | avg_seat_count |
|----------------|---------------|
| Business       | 100.01         |
| Comfort        | 558.23         |
| Economy        | 15.52        |

In [36]:
%%sql
SELECT
    fare_conditions,
    ROUND(AVG(seat_count), 2) AS avg_seat_count
FROM (
    SELECT
        fare_conditions,
        COUNT(*) AS seat_count
    FROM seats
    GROUP BY aircraft_code, fare_conditions
) AS seat_data
GROUP BY fare_conditions;

 * postgresql://reader:***@10.129.0.25/demo
3 rows affected.

[('Business', Decimal('21.71')),
 ('Comfort', Decimal('48.00')),
 ('Economy', Decimal('126.56'))]

## Задание 10:

Найти и вывести на экран информацию о самом дорогом перелете. Вывести следующую информацию:
- flight_id	(id рейса)
- final_amount (общая выручка за данный рейс = сумма выручки за все проданные билеты)
- departure_airport	(название аэропорта отправки самолета)
- departure_city (название города аэропорта отправки)
- arrival_airport	(название аэропорта прибытия самолета)
- arrival_city (город прибытия)

Выведите статистику выполнения запроса с использованием команды EXPLAIN ANALYZE. Проанализуйте полученный отчет. Какие рекомендации даются по оптимизации запроса? Попробуйте применить рекомендации.

Сколько всего рейсов с максимальной суммой выручки?

In [37]:
%%sql
WITH flight_revenue AS (
    SELECT
        flight_id,
        SUM(amount) AS final_amount
    FROM ticket_flights
    GROUP BY flight_id
),
max_revenue AS (
    SELECT
        MAX(final_amount) AS max_amount
    FROM flight_revenue
),
most_expensive_flights AS (
    SELECT
        fr.flight_id,
        fr.final_amount
    FROM flight_revenue fr
    JOIN max_revenue mr ON fr.final_amount = mr.max_amount
)
SELECT
    mf.flight_id,
    mf.final_amount,
    dep.airport_name->>'en' AS departure_airport,
    dep.city->>'en' AS departure_city,
    arr.airport_name->>'en' AS arrival_airport,
    arr.city->>'en' AS arrival_city
FROM
    most_expensive_flights mf
JOIN flights f ON mf.flight_id = f.flight_id
JOIN airports_data dep ON f.departure_airport = dep.airport_code
JOIN airports_data arr ON f.arrival_airport = arr.airport_code;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[(15328, Decimal('17269600.00'), 'Domodedovo International Airport', 'Moscow', 'Khabarovsk-Novy Airport', 'Khabarovsk')]

In [38]:
%%sql
EXPLAIN ANALYZE
WITH flight_revenue AS (
    SELECT
        flight_id,
        SUM(amount) AS final_amount
    FROM ticket_flights
    GROUP BY flight_id
),
max_revenue AS (
    SELECT
        MAX(final_amount) AS max_amount
    FROM flight_revenue
),
most_expensive_flights AS (
    SELECT
        fr.flight_id,
        fr.final_amount
    FROM flight_revenue fr
    JOIN max_revenue mr ON fr.final_amount = mr.max_amount
)
SELECT
    mf.flight_id,
    mf.final_amount,
    dep.airport_name->>'en' AS departure_airport,
    dep.city->>'en' AS departure_city,
    arr.airport_name->>'en' AS arrival_airport,
    arr.city->>'en' AS arrival_city
FROM
    most_expensive_flights mf
JOIN flights f ON mf.flight_id = f.flight_id
JOIN airports_data dep ON f.departure_airport = dep.airport_code
JOIN airports_data arr ON f.arrival_airport = arr.airport_code;

 * postgresql://reader:***@10.129.0.25/demo
43 rows affected.

[('Hash Join  (cost=397262.55..399372.79 rows=410 width=164) (actual time=5103.996..5131.144 rows=1 loops=1)',),
 ('  Hash Cond: (f.arrival_airport = arr.airport_code)',),
 ('  CTE flight_revenue',),
 ('    ->  Finalize GroupAggregate  (cost=374006.55..395405.61 rows=82036 width=36) (actual time=2873.700..4530.346 rows=150588 loops=1)',),
 ('          Group Key: ticket_flights.flight_id',),
 ('          ->  Gather Merge  (cost=374006.55..393149.62 rows=164072 width=36) (actual time=2873.678..4307.633 rows=437107 loops=1)',),
 ('                Workers Planned: 2',),
 ('                Workers Launched: 2',),
 ('                ->  Sort  (cost=373006.53..373211.62 rows=82036 width=36) (actual time=2777.084..3245.477 rows=145702 loops=3)',),
 ('                      Sort Key: ticket_flights.flight_id',),
 ('                      Sort Method: external merge  Disk: 10296kB',),
 ('                      Worker 0:  Sort Method: external merge  Disk: 10112kB',),
 ('                      Worker 1:  Sort Method: external merge  Disk: 9984kB',),
 ('                      ->  Partial HashAggregate  (cost=328895.86..364067.26 rows=82036 width=36) (actual time=1450.209..2696.696 rows=145702 loops=3)',),
 ('                            Group Key: ticket_flights.flight_id',),
 ('                            Planned Partitions: 8  Batches: 41  Memory Usage: 4305kB  Disk Usage: 80976kB',),
 ('                            Worker 0:  Batches: 41  Memory Usage: 4305kB  Disk Usage: 68120kB',),
 ('                            Worker 1:  Batches: 41  Memory Usage: 4305kB  Disk Usage: 72200kB',),
 ('                            ->  Parallel Seq Scan on ticket_flights  (cost=0.00..104898.45 rows=3496545 width=10) (actual time=0.012..330.250 rows=2797284 loops=3)',),
 ('  ->  Hash Join  (cost=1851.60..3956.62 rows=410 width=150) (actual time=5085.783..5112.865 rows=1 loops=1)',),
 ('        Hash Cond: (f.departure_airport = dep.airport_code)',),
 ('        ->  Nested Loop  (cost=1846.26..3950.16 rows=410 width=44) (actual time=5085.730..5112.811 rows=1 loops=1)',),
 ('              ->  Hash Join  (cost=1845.84..3706.47 rows=410 width=36) (actual time=5085.705..5112.784 rows=1 loops=1)',),
 ('                    Hash Cond: (fr.final_amount = (max(flight_revenue.final_amount)))',),
 ('                    ->  CTE Scan on flight_revenue fr  (cost=0.00..1640.72 rows=82036 width=36) (actual time=2873.702..2887.114 rows=150588 loops=1)',),
 ('                    ->  Hash  (cost=1845.83..1845.83 rows=1 width=32) (actual time=2209.574..2209.575 rows=1 loops=1)',),
 ('                          Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('                          ->  Aggregate  (cost=1845.81..1845.82 rows=1 width=32) (actual time=2209.569..2209.569 rows=1 loops=1)',),
 ('                                ->  CTE Scan on flight_revenue  (cost=0.00..1640.72 rows=82036 width=32) (actual time=0.001..2187.195 rows=150588 loops=1)',),
 ('              ->  Index Scan using flights_pkey on flights f  (cost=0.42..0.59 rows=1 width=12) (actual time=0.018..0.018 rows=1 loops=1)',),
 ('                    Index Cond: (flight_id = fr.flight_id)',),
 ('        ->  Hash  (cost=4.04..4.04 rows=104 width=114) (actual time=0.042..0.043 rows=104 loops=1)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 23kB',),
 ('              ->  Seq Scan on airports_data dep  (cost=0.00..4.04 rows=104 width=114) (actual time=0.007..0.019 rows=104 loops=1)',),
 ('  ->  Hash  (cost=4.04..4.04 rows=104 width=114) (actual time=18.203..18.203 rows=104 loops=1)',),
 ('        Buckets: 1024  Batches: 1  Memory Usage: 23kB',),
 ('        ->  Seq Scan on airports_data arr  (cost=0.00..4.04 rows=104 width=114) (actual time=18.143..18.166 rows=104 loops=1)',),
 ('Planning Time: 0.458 ms',),
 ('JIT:',),
 ('  Functions: 68',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 6.325 ms, Inlining 0.000 ms, Optimization 2.500 ms, Emission 36.565 ms, Total 45.390 ms',),
 ('Execution Time: 5145.512 ms',)]

## Дополнительное задание:

Реализуйте 3 запроса, которые позволят узнать, выявить узкие места работы авиаперевозчика.

Анализ прибыльности рейса

In [46]:
%%sql
WITH flight_revenue AS (
    SELECT 
        f.flight_id,
        f.flight_no,
        f.departure_airport,
        f.arrival_airport,
        COUNT(tf.ticket_no) AS tickets_sold,
        SUM(tf.amount) AS total_revenue,
        a.model->>'en' AS aircraft_model,
        a.range
    FROM 
        flights f
    JOIN 
        ticket_flights tf ON f.flight_id = tf.flight_id
    JOIN 
        aircrafts_data a ON f.aircraft_code = a.aircraft_code
    GROUP BY 
        f.flight_id, f.flight_no, f.departure_airport, f.arrival_airport, a.model, a.range
)
SELECT 
    flight_no,
    departure_airport,
    arrival_airport,
    aircraft_model,
    range,
    tickets_sold,
    total_revenue,
    total_revenue / tickets_sold AS avg_revenue_per_ticket,
    CASE 
        WHEN total_revenue < 1000000 THEN 'Low Profit'
        WHEN total_revenue BETWEEN 1000000 AND 3000000 THEN 'Medium Profit'
        ELSE 'High Profit'
    END AS profitability
FROM 
    flight_revenue
ORDER BY 
    total_revenue DESC
LIMIT 100;

 * postgresql://reader:***@10.129.0.25/demo
100 rows affected.

[('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 220, Decimal('17269600.00'), Decimal('78498.181818181818'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 219, Decimal('17208100.00'), Decimal('78575.799086757991'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 219, Decimal('17208100.00'), Decimal('78575.799086757991'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 219, Decimal('17208100.00'), Decimal('78575.799086757991'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 219, Decimal('17201900.00'), Decimal('78547.488584474886'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17146600.00'), Decimal('78654.128440366972'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17146600.00'), Decimal('78654.128440366972'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17146600.00'), Decimal('78654.128440366972'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17146600.00'), Decimal('78654.128440366972'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('17085100.00'), Decimal('78733.179723502304'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 218, Decimal('17023600.00'), Decimal('78089.908256880734'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('17023600.00'), Decimal('78812.962962962963'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 218, Decimal('17023600.00'), Decimal('78089.908256880734'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17023600.00'), Decimal('78089.908256880734'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('17023600.00'), Decimal('78812.962962962963'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('17017400.00'), Decimal('78061.467889908257'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16962100.00'), Decimal('78893.488372093023'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16962100.00'), Decimal('78893.488372093023'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 215, Decimal('16962100.00'), Decimal('78893.488372093023'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 217, Decimal('16962100.00'), Decimal('78166.359447004608'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16962100.00'), Decimal('78893.488372093023'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 215, Decimal('16962100.00'), Decimal('78893.488372093023'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16955900.00'), Decimal('78864.651162790698'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16955900.00'), Decimal('78864.651162790698'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16900600.00'), Decimal('78243.518518518519'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16900600.00'), Decimal('78974.766355140187'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16894400.00'), Decimal('78214.814814814815'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16894400.00'), Decimal('78945.794392523364'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16894400.00'), Decimal('78945.794392523364'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 218, Decimal('16894400.00'), Decimal('77497.247706422018'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16839100.00'), Decimal('78321.395348837209'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 213, Decimal('16839100.00'), Decimal('79056.807511737089'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 215, Decimal('16839100.00'), Decimal('78321.395348837209'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16839100.00'), Decimal('79056.807511737089'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16839100.00'), Decimal('78321.395348837209'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16839100.00'), Decimal('79056.807511737089'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 215, Decimal('16839100.00'), Decimal('78321.395348837209'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 215, Decimal('16839100.00'), Decimal('78321.395348837209'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 213, Decimal('16839100.00'), Decimal('79056.807511737089'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 213, Decimal('16839100.00'), Decimal('79056.807511737089'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16832900.00'), Decimal('78292.558139534884'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16832900.00'), Decimal('79027.699530516432'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16832900.00'), Decimal('79027.699530516432'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16777600.00'), Decimal('77674.074074074074'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16777600.00'), Decimal('77674.074074074074'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16777600.00'), Decimal('77674.074074074074'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16777600.00'), Decimal('77674.074074074074'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16777600.00'), Decimal('78400.000000000000'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 212, Decimal('16777600.00'), Decimal('79139.622641509434'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16777600.00'), Decimal('77674.074074074074'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16771400.00'), Decimal('78371.028037383178'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 214, Decimal('16771400.00'), Decimal('78371.028037383178'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 212, Decimal('16771400.00'), Decimal('79110.377358490566'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 214, Decimal('16771400.00'), Decimal('78371.028037383178'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 212, Decimal('16771400.00'), Decimal('79110.377358490566'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 216, Decimal('16765200.00'), Decimal('77616.666666666667'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 211, Decimal('16716100.00'), Decimal('79223.222748815166'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 211, Decimal('16716100.00'), Decimal('79223.222748815166'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 213, Decimal('16716100.00'), Decimal('78479.342723004695'), 'High Profit'),
 ('PG0209', 'KHV', 'DME', 'Boeing 767-300', 7900, 211, Decimal('16716100.00'), Decimal('79223.222748815166'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 211, Decimal('16716100.00'), Decimal('79223.222748815166'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16716100.00'), Decimal('77749.302325581395'), 'High Profit'),
 ('PG0208', 'DME', 'KHV', 'Boeing 767-300', 7900, 215, Decimal('16716100.00'), Decimal('77749.302325581395'), 'High Profit')]

#Самые загруженные аэропорты (10 шт)

In [42]:
%%sql
WITH airport_activity AS (
    SELECT 
        a.airport_code,
        a.airport_name->>'en' AS airport_name,
        a.city->>'en' AS city,
        COUNT(DISTINCT f.flight_id) AS total_flights,
        COUNT(tf.ticket_no) AS total_passengers
    FROM  airports_data a
    LEFT JOIN 
        flights f ON a.airport_code = f.departure_airport OR a.airport_code = f.arrival_airport
    LEFT JOIN 
        ticket_flights tf ON f.flight_id = tf.flight_id
    GROUP BY 
        a.airport_code, a.airport_name, a.city
)
SELECT *
FROM airport_activity
LIMIT 10

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('AAQ', 'Anapa Vityazevo Airport', 'Anapa', 1698, 157317),
 ('ABA', 'Abakan Airport', 'Abakan', 3055, 30844),
 ('AER', 'Sochi International Airport', 'Sochi', 7580, 520944),
 ('ARH', 'Talagi Airport', 'Arkhangelsk', 4184, 84819),
 ('ASF', 'Astrakhan Airport', 'Astrakhan', 1923, 43409),
 ('BAX', 'Barnaul Airport', 'Barnaul', 2035, 55357),
 ('BQS', 'Ignatyevo Airport', 'Blagoveschensk', 792, 33933),
 ('BTK', 'Bratsk Airport', 'Bratsk', 792, 44639),
 ('BZK', 'Bryansk Airport', 'Bryansk', 7920, 260556),
 ('CEE', 'Cherepovets Airport', 'Cherepovets', 1696, 2600)]

In [43]:
%%sql

SELECT 
    airport_code,
    airport_name,
    city,
    total_flights,
    total_passengers,
    ROUND(total_passengers * 100.0 / (SELECT SUM(total_passengers) FROM airport_activity), 2) AS passenger_share_percent
FROM 
    airport_activity
ORDER BY 
    total_flights DESC, total_passengers DESC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
(psycopg2.errors.UndefinedTable) relation "airport_activity" does not exist
LINE 9:     airport_activity
            ^

[SQL: SELECT
    airport_code,
    airport_name,
    city,
    total_flights,
    total_passengers,
    ROUND(total_passengers * 100.0 / (SELECT SUM(total_passengers) FROM airport_activity), 2) AS passenger_share_percent
FROM
    airport_activity
ORDER BY
    total_flights DESC, total_passengers DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Аэропорты с наибольшими задержками

In [121]:
%%sql
SELECT EXTRACT(EPOCH FROM TIMESTAMP '2023-01-01 00:00:00') - EXTRACT(EPOCH FROM TIMESTAMP '2020-01-01 00:00:00');

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[(Decimal('94694400.000000'),)]

In [53]:
%%sql
WITH flight_delays AS (
    SELECT
        departure_airport AS airport_code,
        AVG(EXTRACT(EPOCH FROM (actual_departure - scheduled_departure))) / 60 AS avg_departure_delay_minutes,
        AVG(EXTRACT(EPOCH FROM (actual_arrival - scheduled_arrival))) / 60 AS avg_arrival_delay_minutes
    FROM flights
    WHERE actual_departure IS NOT NULL AND actual_arrival IS NOT NULL
    GROUP BY departure_airport
)
SELECT
    ad.airport_name->>'en' AS airport_name,
    ad.city->>'en' AS city,
    fd.avg_departure_delay_minutes,
    fd.avg_arrival_delay_minutes
FROM
    flight_delays fd
JOIN airports_data ad ON fd.airport_code = ad.airport_code
ORDER BY (fd.avg_departure_delay_minutes + fd.avg_arrival_delay_minutes) DESC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('Usinsk Airport', 'Usinsk', Decimal('17.5660377358490566'), Decimal('17.6886792452830189')),
 ('Komsomolsk-on-Amur Airport', 'Komsomolsk-on-Amur', Decimal('17.0384615384615385'), Decimal('16.8557692307692308')),
 ('Yelizovo Airport', 'Petropavlovsk', Decimal('16.4777070063694268'), Decimal('17.1146496815286624')),
 ('Ust-Ilimsk Airport', 'Ust Ilimsk', Decimal('16.3001912045889101'), Decimal('16.2667304015296367')),
 ('Ulan-Ude Airport (Mukhino)', 'Ulan-ude', Decimal('16.1264916467780430'), Decimal('16.1002386634844869')),
 ('Kurumoch International Airport', 'Samara', Decimal('15.4808743169398907'), Decimal('15.4644808743169399')),
 ('Nizhnevartovsk Airport', 'Nizhnevartovsk', Decimal('15.3698868581375109'), Decimal('15.3855526544821584')),
 ('Nefteyugansk Airport', 'Nefteyugansk', Decimal('15.2192307692307692'), Decimal('15.1115384615384615')),
 ('Sokol Airport', 'Magadan', Decimal('14.8133971291866029'), Decimal('15.0239234449760766')),
 ('Strezhevoy Airport', 'Strezhevoy', Decimal('14.7076502732240437'), Decimal('14.6803278688524590'))]

Рейсы с низкой заполняемостью

In [45]:
%%sql
WITH flight_occupancy AS (
    SELECT
        f.flight_id,
        f.flight_no,
        COUNT(tf.ticket_no) AS sold_tickets,
        (SELECT COUNT(*) FROM seats s WHERE s.aircraft_code = f.aircraft_code) AS total_seats,
        ROUND(COUNT(tf.ticket_no) * 1.0 / (SELECT COUNT(*) FROM seats s WHERE s.aircraft_code = f.aircraft_code), 2) AS occupancy_rate
    FROM
        flights f
    JOIN ticket_flights tf ON f.flight_id = tf.flight_id
    GROUP BY f.flight_id, f.flight_no, f.aircraft_code
)
SELECT
    fo.flight_id,
    fo.flight_no,
    fo.sold_tickets,
    fo.total_seats,
    fo.occupancy_rate
FROM
    flight_occupancy fo
WHERE
    fo.occupancy_rate < 0.5  -- Рейсы с заполняемостью менее 50%
ORDER BY fo.occupancy_rate ASC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[(157429, 'PG0364', 1, 222, Decimal('0.00')),
 (22778, 'PG0412', 2, 402, Decimal('0.00')),
 (172625, 'PG0201', 1, 222, Decimal('0.00')),
 (157303, 'PG0364', 1, 222, Decimal('0.00')),
 (168074, 'PG0365', 1, 222, Decimal('0.00')),
 (190272, 'PG0455', 1, 97, Decimal('0.01')),
 (53208, 'PG0232', 1, 170, Decimal('0.01')),
 (53535, 'PG0232', 1, 170, Decimal('0.01')),
 (27384, 'PG0200', 2, 222, Decimal('0.01')),
 (27494, 'PG0200', 3, 222, Decimal('0.01'))]